{% load static from staticfiles %}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <img src="{% static 'images/landing-banner.png' %}" alt="" class="img-responsive">		
        </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
            <img src="{% static 'images/landing-content.png' %}" alt="" class="img-responsive">
		</div>
		<div class="col-xs-12 col-sm-6">
            <img src="{% static 'images/landing-content.png' %}" alt="" class="img-responsive">		
		</div>
	</div>
	<!-- Further rows if required -->
</div>